name: Deploy Astro Blog to MinIO

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: './package-lock.json'

      - name: Install dependencies
        run: npm ci --no-audit --prefer-offline

      - name: Build Astro
        run: npm run build

      - name: Install mc
        run: |
          curl -sSL https://dl.min.io/client/mc/release/linux-amd64/mc -o mc
          chmod +x mc
          ./mc --version

      - name: Upload to MinIO
        env:
          MINIO_ENDPOINT: ${{ secrets.MINIO_ENDPOINT }} # http://public-minio-host:9000
          MINIO_ACCESS_KEY: ${{ secrets.MINIO_ACCESS_KEY }}
          MINIO_SECRET_KEY: ${{ secrets.MINIO_SECRET_KEY }}
          MINIO_BUCKET: ${{ secrets.MINIO_BUCKET }}
          MINIO_PREFIX: ${{ secrets.MINIO_PREFIX }}
        run: |
          ./mc alias set blog "$MINIO_ENDPOINT" "$MINIO_ACCESS_KEY" "$MINIO_SECRET_KEY"

          ./mc mb --ignore-existing blog/$MINIO_BUCKET

          ./mc mirror \
            --overwrite --remove \
            dist \
            blog/$MINIO_BUCKET/$MINIO_PREFIX

          ./mc ls blog/$MINIO_BUCKET/$MINIO_PREFIX
